<div class="footer">
    <span><a href="/">All funds will be refunded on request.</a></span>
    <span style="display:block;"><a href="mailto:support@btcsuperbowl.com">Contact Us</a> <a
            href="/privacyPolicy">Privacy Policy</a></span>

</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jQuery library -->
<script src="/assets/js/qrcode/qrcode.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>