<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/logo.jpg" width="200px" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- <ul class="navbar-nav ml-auto">  
          <li class="nav-item ml-auto"><a href="/team/" class="nav-link px-2 float-right"><i class="fas fa-angle-up"></i></a></li>
          <li class="nav-item ml-auto"><a href="/solutions/" class="nav-link px-2 float-right"><i class="far fa-check-square"></i></a></li>
          <li class="nav-item ml-auto"><a href="/contact/" class="nav-link px-s fload-right"></a><i class="fas fa-phone"></i></li>
        </ul> -->
    </div>    
</div>