$white:    #fff;
$red:     #dc3545;
$body-bg: $white;
$body-color: $white;
$custom-font-size: 12px;
$font-family: "Kanit";
$primary-font: "Kanit";
$secondary-font: "Roboto";
$default-font: "Open Sans";

/* Brand colors */
$brand-red : #ed0744;
$brand-blue : blue;
$brand-white : white;
