.row.about {
    top: calc(50% - 10em);
    position: fixed;
    width: 100vw;
}
body {
    background: url(/assets/img/background.jpeg);
    background-position: center;
    opacity: 1 !important; 
    font-family: sans-serif;
}
.hp_body {
    background:#000000d6;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
}
h1 {
    color: white !important;
    font-weight: 600;
    font-size: 4.5rem;
}
span {
    font-size: 1.85rem;
}
.footer a {
    padding: 1rem;
    font-size: 1.25rem;
}
strong {
    color: #FF9900;
}
.hp_body a.easyLink {
    padding: 1rem;
    border-radius: 0.25rem;
    background: #ffffff70;
    max-width: fit-content;
    display: block;
    margin: auto;
    margin-top: 1rem;
}