.hp_body {
    height: calc(100vh - 4em);
    overflow: hidden;
    top: 0;
    position: fixed;
}

.row.about {
    margin-bottom: 4em;
}

.row.bio {
    border: 0.02px #ffffff36 solid;
    margin-bottom: 1em;
    padding: 1em;
    text-align: left;
}
.bio h1 {
    margin-top: 0;
    font-size: 1.75em;
    margin-bottom: 0.25em;
}
span.role {
    text-transform: uppercase;
    display: block;
    padding-bottom: 0.25em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.row.bioContainer {
    overflow: scroll;
    max-height: calc(100vh - 12em);
}